.flashes h4 {
    line-height: 2;
}
body{
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.one{
    color: black;
}



.btn-small {
    margin: 5px;
}
.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.foot {
    display: flex;
    min-height: 40vh;
    flex-direction: column;
  }

.footy {
    flex: 1 0 auto;
  }